
# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme

# Google OAuth (fylles ved produksjon)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# Football-data.org
FOOTBALL_DATA_API_BASE=https://api.football-data.org/v4
FOOTBALL_DATA_API_TOKEN=
